---
layout: simple
navbar_item: home
---

<header class="py-5 bg-light">
  <div class="container">
    <img src="/img/logo.png" class="img-fluid mb-5 d-block mx-auto" alt="logo" style="max-height: 150px;"/>
    <h2 class="mb-4">
      Unlock the value of African digital legal information in support of the rule of law, access to justice, and innovation.
    </h2>
    <div class="tab-content mb-2" id="pills-tabContent">
      <div class="tab-pane fade show active" id="english-video-pane" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/ssphMX__-nM?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
      </div>
      <div class="tab-pane fade" id="french-video-pane" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/HlyQ84VHO9w?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <ul class="nav nav-pills mb-3 just justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#english-video-pane" role="tab"
               aria-controls="pills-home" aria-selected="true">English</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#french-video-pane" role="tab"
               aria-controls="pills-profile" aria-selected="false">Français</a>
          </li>
        </ul>
  </div>
</header>

{% if site.hiring %}
<section class="mb-3 py-3 bg-lawsafrica-pale-red">
  <div class="container text-center">
    <div class="lead">We're hiring! Join the Laws.Africa team. <a href="/jobs" class="ml-4 btn btn-primary">See our open positions</a></div>
  </div>
</section>
{% endif %}

{% if site.hiring_contributors %}
<section class="mb-3 py-3 bg-lawsafrica-pale-red">
  <div class="container text-center">
    <div class="lead">We're hiring part-time contributors! Join the Laws.Africa editorial team. <a href="/apply" class="ml-4 btn btn-primary">Apply now</a></div>
  </div>
</section>
{% endif %}

<section class="py-5">
  <div class="container">
    <h2 class="mb-4" id="open-access">Open Access to African Legal Information</h2>

    <p class="lead">
      We help African governments to sustainably digitise their legal information for public use, through open law software, capacity-building, training, partnerships and support.
    </p>

    <a href="/open-african-law" class="btn btn-primary">
      Open Access to African Legal Information
    </a>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Open Law Technology</h2>

    <p class="lead">
      Our Open Law Technology solutions lower the cost of digitisation, archival and publication of primary legal
      information, and create opportunities for rich interactivity, advanced research and justice sector innovation.
    </p>

    <a href="/open-law-technology" class="btn btn-primary">
      Open Law Technology
    </a>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Use African Legal Data</h2>

    <p class="lead">
      Power your business and research innovations with our African legal data APIs.
    </p>

    <a href="/api" class="btn btn-primary">
      Use our Legal Data
    </a>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Partners</h2>

    <div class="row mb-4">
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://africanlii.org">
          <img src="/img/partners/africanlii-logo.png" title="AfricanLII" class="img-fluid" alt="AfricanLII">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://c4ads.org">
          <img src="/img/partners/c4ads-logo.png" title="C4ADS" class="img-fluid" alt="C4ADS">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="http://kenyalaw.org/">
          <img src="/img/partners/kenyalaw-logo.png" title="Kenya Law" class="img-fluid" alt="Kenya Law">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="http://llmc.com/">
          <img src="/img/partners/llmc-logo.png" title="LLMC" class="img-fluid" alt="LLMC">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://urbanlex.unhabitat.org/">
          <img src="/img/partners/urbanlex-logo.png" title="UrbanLex" class="img-fluid" alt="UrbanLex">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://afrobarometer.org/">
          <img src="/img/partners/afro-barometer-logo.png" title="Afrobarometer" class="img-fluid" alt="Afrobarometer">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://www.giz.de/">
          <img src="/img/partners/giz-logo.gif" title="GIZ" class="img-fluid" alt="GIZ">
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://www.webberwentzel.com/">
          <img src="/img/partners/ww-logo.png" title="Webber Wentzel" class="img-fluid" alt="Webber Wentzel">
        </a>
      </div>
    </div>
    <div>
      <a class="btn btn-primary" href="/resources#case-studies">Case studies</a>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Our work in action</h2>
    <p class="lead">
      Our legal data and software powers legal information portals used by hundreds of thousands of users every month,
      from Africa and all over the world.
    </p>
    <div class="row mb-4 work-in-action-list">
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://gazettes.africa/"
           target="_blank"
           rel="noreferrer"
        >
          <img src="/img/gazettes-africa-logo.png"
               alt="gazettes-africa"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://openbylaws.org.za/"
           target="_blank"
           rel="noreferrer"
        >
          <img src="/img/obl-logo.png"
               alt="open-by-laws"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://ulii.org/"
           target="_blank"
           rel="noreferrer"
        >
          <img src="/img/ulii-logo.png"
               alt="ulii"
          />
        </a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://lawlibrary.org.za/"
           target="_blank"
           rel="noreferrer"
        >
          <img src="/img/lawlibrary-logo.png"
               alt="lawlibrary"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Recent articles</h2>

    <div class="row">
      {% assign orderedPosts = site.posts | sort: 'date' | reverse %}

      {% for post in orderedPosts limit:4 %}

      <div class="col-md-6 col-lg-3 mb-4">
        <a href="{{ post.url }}">
          <img class="card-img-top mb-2" src="{{ post.image }}">
        </a>
        <div>
          <h5 class="card-title mt-2 mb-0">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h5>
          <small class="text-muted">{{ post.date|date:"%e %b %Y"}} by {{ post.author }}</small>
          <p>{{ post.lead }}</p>
        </div>
      </div>

      {% endfor %}
    </div>

    <a class="btn btn-primary" href="/blog">All articles</a>
  </div>
</section>
