---
layout: simple
navbar_item: home
---

<header class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/og2YO8e_Dmc"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col">
        <h2 class="display-5 mb-5">
          Unlock the value of African digital legal information in support of the rule of law, access to justice, and innovation.”
        </h2>
      </div>
    </div>
  </div>
</header>

{% if site.hiring %}
<section class="mb-3 py-3 bg-lawsafrica-pale-red">
  <div class="container text-center">
    <div class="lead">We're hiring! Join the Laws.Africa team. <a href="/jobs" class="ml-4 btn btn-primary">See our open positions</a></div>
  </div>
</section>
{% endif %}

{% if site.hiring_contributors %}
<section class="mb-3 py-3 bg-lawsafrica-pale-red">
  <div class="container text-center">
    <div class="lead">We're hiring part-time contributors! Join the Laws.Africa editorial team. <a href="/apply" class="ml-4 btn btn-primary">Apply now</a></div>
  </div>
</section>
{% endif %}

<section class="py-5">
  <div class="container">
    <h2 class="mb-2" id="commons">Open Access to African Legal Information</h2>

    <p class="lead mb-4">
      We help African governments to sustainably digitise their legal information for public use, through open law software, capacity-building, training, partnerships and support.
    </p>

    <a href="/commons" class="btn btn-primary">
      Open Access to African Legal Information
    </a>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-2">Open Law Technology</h2>

    <p class="lead mb-4 text-muted">
      Our Open Law Technology solutions lower the cost of digitisation, archival and publication of primary legal
      information, and create opportunities for rich interactivity, advanced research and justice sector innovation.
    </p>

    <a href="/commons" class="btn btn-primary">
      Open Law Technology
    </a>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="mb-2">Use African Legal Data</h2>

    <p class="lead mb-4">
      Power your business and research innovations with our African legal data APIs.
    </p>

    <a href="/commons" class="btn btn-primary">
      Use our Legal Data
    </a>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Partners</h2>

    <div class="row mb-4">
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://africanlii.org"><img src="/img/partners/africanlii-logo.png" title="AfricanLII" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://c4ads.org"><img src="/img/partners/c4ads-logo.png" title="C4ADS" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="http://kenyalaw.org/"><img src="/img/partners/kenyalaw-logo.png" title="Kenya Law" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="http://llmc.com/"><img src="/img/partners/llmc-logo.png" title="LLMC" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://urbanlex.unhabitat.org/"><img src="/img/partners/urbanlex-logo.png" title="UrbanLex" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://afrobarometer.org/"><img src="/img/partners/afro-barometer-logo.png" title="Afrobarometer" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://www.giz.de/"><img src="/img/partners/giz-logo.gif" title="GIZ" class="img-fluid"></a>
      </div>
      <div class="col-6 col-md-3 mb-3 p-4 text-center align-self-center">
        <a href="https://www.webberwentzel.com/"><img src="/img/partners/ww-logo.png" title="Webber Wentzel" class="img-fluid"></a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col col-3">
        <div class="callout-box">
          <div class="mb-2">
            <q>An Africa of good governance, democracy, respect for human rights, justice and the rule of law</q>
          </div>
          <div>
            <a href="https://au.int/en/agenda2063/aspirations" target="_blank">
              Aspiration 3 from Africa Agenda 2063
            </a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="callout-box">
          <div class="mb-2">
            <q>An Africa of good governance, democracy, respect for human rights, justice and the rule of law</q>
          </div>
          <div>
            <a href="https://au.int/en/agenda2063/aspirations" target="_blank">
              Aspiration 3 from Africa Agenda 2063
            </a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="callout-box">
          <div class="mb-2">
            <q>An Africa of good governance, democracy, respect for human rights, justice and the rule of law</q>
          </div>
          <div>
            <a href="https://au.int/en/agenda2063/aspirations" target="_blank">
              Aspiration 3 from Africa Agenda 2063
            </a>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="callout-box">
          <div class="mb-2">
            <q>An Africa of good governance, democracy, respect for human rights, justice and the rule of law</q>
          </div>
          <div>
            <a href="https://au.int/en/agenda2063/aspirations" target="_blank">
              Aspiration 3 from Africa Agenda 2063
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="btn btn-primary" href="/blog">Case studies</a>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Recent articles</h2>

    <div class="row">
      {% assign orderedPosts = site.posts | sort: 'date' | reverse %}

      {% for post in orderedPosts limit:4 %}

      <div class="col-md-6 col-lg-3 mb-4">
        <a href="{{ post.url }}">
          <img class="card-img-top mb-2" src="{{ post.image }}">
        </a>
        <div>
          <h5 class="card-title mt-2 mb-0">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h5>
          <small class="text-muted">{{ post.date|date:"%e %b %Y"}} by {{ post.author }}</small>
          <p>{{ post.lead }}</p>
        </div>
      </div>

      {% endfor %}
    </div>

    <a class="btn btn-primary" href="/blog">All articles</a>
  </div>
</section>
