<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h6 class="text-uppercase">Laws.Africa</h6>

        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/indigo/">Indigo</a></li>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="mailto:info@laws.africa">info@laws.africa</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
      </div>

      <div class="col-md-4 mb-3">
        <h6 class="text-uppercase">Newsletter</h6>

        <p>Subscribe to our newsletter.</p>

        <!-- Begin Mailchimp Signup Form -->
        <form action="https://africa.us19.list-manage.com/subscribe/post?u=60b61dad66a60a0c85266a68c&amp;id=098ca0e4c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60b61dad66a60a0c85266a68c_098ca0e4c8" tabindex="-1" value=""></div>
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="form-control" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="input-group-append">
              <input type="submit" value="Subscribe" name="subscribe" class="btn btn-secondary">
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>

    </div>

    <div class="text-right mt-3">
      <img src="/img/logo-horizontal.png" width="200px" alt="Laws.Africa logo">
    </div>

    <hr class="my-3">
    <p class="text-sm">Laws.Africa is a non-profit organisation registered with the South African Department of Social Development, registration number 216-824 NPO.</p>
  </div>
</footer>
