<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h6 class="text-uppercase">Laws.Africa</h6>

        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/indigo/">Indigo</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h6 class="text-uppercase">Get Involved</h6>

        <ul class="list-unstyled">
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/send-us-legislation">Send Us Legislation</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h6 class="text-uppercase">Contact Us</h6>

        <p><a href="mailto:info@laws.africa">info@laws.africa</a></p>

        <div id="newsletter">Subscribe to our newsletter:</div>

        <!-- Begin Mailchimp Signup Form -->
        <form action="https://africa.us19.list-manage.com/subscribe/post?u=60b61dad66a60a0c85266a68c&amp;id=098ca0e4c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60b61dad66a60a0c85266a68c_098ca0e4c8" tabindex="-1" value=""></div>
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="form-control" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="input-group-append">
              <input type="submit" value="Subscribe" name="subscribe" class="btn btn-secondary">
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>

    </div>

    <div class="text-right mt-3">
      <img src="/img/logo-horizontal.png" width="200px" alt="Laws.Africa logo">
    </div>

    <hr class="my-3">
    <p>
      <small>Laws.Africa is a non-profit organisation registered with the South African Department of Social Development, registration number 216-824 NPO.</small>
      <small class="d-none d-md-inline float-right"><a href="https://manage.siteleaf.com/sites/5c138a462dde9749d7d61d1c/pages" class="text-muted" target="_blank" rel="noopener nofollow">edit</a></small>
    </p>

  </div>
</footer>
