<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h6><a href="/">Laws.Africa</a></h6>

        <p>Laws.Africa makes African law available to everyone, for free. It's a community effort, join us and help make your laws available.</p>

      </div>

      <div class="col-md-2">
        <h6>Get Involved</h6>

        <ul class="list-unstyled">
          <li><a href="/mission">Our Mission</a></li>
          <li><a href="/case-studies/">Case Studies</a></li>
          <li><a href="/send-us-legislation">Send us legislation</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h6>Partner With Us</h6>

        <ul class="list-unstyled">
          <li><a href="/commons">Legislation Commons</a></li>
          <li><a href="/api/">Content API</a></li>
          <li><a href="https://developers.laws.africa">Developer guide</a></li>
          <li><a href="/indigo/">Indigo platform</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Contact Us</h6>

        <ul class="list-unstyled">
          <li><a href="https://docs.laws.africa">Help</a></li>
          <li><a href="mailto:info@laws.africa">info@laws.africa</a></li>
          <li><a href="/contact">Contact details</a></li>
          <li><a href="/about">About us</a></li>
        </ul>

      </div>

    </div>

    <div class="row">
      <div class="col-md-9 mb-3">
        <div>Connect with us on social media</div>
        <div class="footer-social">
          <a href="http://twitter.com/@laws_africa" target="_blank"><img src="/img/social/twitter.svg"> </a>
          <a href="https://www.youtube.com/channel/UCUFRw2pyZUq9ekMThYQ4kCQ" target="_blank"><img src="/img/social/youtube.svg"> </a>
          <a href="https://www.linkedin.com/company/laws-africa/" target="_blank"><img src="/img/social/linkedin.svg"> </a>
        </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="my-4">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="WTKDBEX8D8BA6" />
          <button type="submit" class="btn btn-outline-secondary"><i class="fab fa-fw fa-paypal"></i> Donate to Laws.Africa with PayPal</button>
        </form>

      </div>
      <div class="col-md-3 mb-3">
        <div id="newsletter">Subscribe to our newsletter:</div>

        <!-- Begin Mailchimp Signup Form -->
        <form
          action="https://africa.us19.list-manage.com/subscribe/post?u=60b61dad66a60a0c85266a68c&amp;id=098ca0e4c8"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input type="hidden" value="1" name="group[5167][1]">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60b61dad66a60a0c85266a68c_098ca0e4c8" tabindex="-1" value=""></div>
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="form-control" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="input-group-append">
              <input type="submit" value="Subscribe" name="subscribe" class="btn btn-secondary">
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>

    <p><a href="https://edit.laws.africa/terms">Terms of Use &amp; Privacy Policy</a></p>

    <hr class="my-3">

    <div class="row">
      <div class="col-md-8">
        <p>
          <small>Laws.Africa is a non-profit organisation registered with the South African Department of Social Development, registration number 216-824 NPO.</small>
        </p>
      </div>

      <div class="col-md-4 text-right">
        <img src="/img/logo-horizontal.png" width="200px" alt="Laws.Africa logo">

        <div><small class="d-none d-md-inline float-right mt-3"><a href="https://manage.siteleaf.com/sites/5c138a462dde9749d7d61d1c/pages" class="text-muted" target="_blank" rel="noopener nofollow">edit</a></small></div>
      </div>
    </div>
  </div>
</footer>
