<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo-horizontal.png" alt="Laws.Africa logo" width="110px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-3 {% if page.navbar_item == 'open-access' %}active{% endif %}">
          <a class="nav-link" href="/open-access">Open African Law</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'api' %}active{% endif %}">
          <a class="nav-link" href="/api">Use our Legislation Data</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/resources"
             id="resourcesDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
          >
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
            <a class="dropdown-item" href="/resources">Publications and recommendations</a>
            <a class="dropdown-item" href="/case-studies">Case studies</a>
            <a class="dropdown-item" href="#">Company profile</a>
            <a class="dropdown-item" href="#">White papers</a>
          </div>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'about' %}active{% endif %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'about' %}active{% endif %}">
          <a class="nav-link" href="/contact">Request a demo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
