<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo-horizontal.png" alt="Laws.Africa logo" width="110">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-3 {% if page.navbar_item == 'home' %}active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'commons' %}active{% endif %}">
          <a class="nav-link" href="/commons">Commons</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'mission' %}active{% endif %}">
          <a class="nav-link" href="/mission">Mission</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'case-studies' %}active{% endif %}">
          <a class="nav-link" href="/case-studies">Case Studies</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'faq' %}active{% endif %}">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'api' %}active{% endif %}">
          <a class="nav-link" href="/api/">Content API</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'blog' %}active{% endif %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item pr-3 {% if page.navbar_item == 'publications' %}active{% endif %}">
          <a class="nav-link" href="/publications">Publications</a>
        </li>
        <li class="nav-item {% if page.navbar_item == 'about' %}active{% endif %}">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item pr-5 {% if page.navbar_item == 'help' %}active{% endif %}">
          <a class="nav-link" href="https://docs.laws.africa">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://edit.laws.africa/accounts/login/">Sign In</a>
        </li>
    </div>
  </div>
</nav>
