<div class="card-group">
  <div class="card mb-3">
    <h5 class="card-header">1. Digitise</h5>
    <div class="card-body">
      <div>Digitise your legislation and legal information into legal data.</div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">2. Publish</h5>
    <div class="card-body">
      <div>Publish your legal information for use by anyone, anywhere. World-class reading and research tools on desktop, mobile, offline, print and archival.</div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">3. Enrich</h5>
    <div class="card-body">
      <div>Enrich your legal information with interactivity, analysis, and external datasets. Enhance with machine-learning and AI.</div>
    </div>
  </div>
</div>
