.site-main {
  min-height: 80vh;
}

.site-footer {
  padding: ($spacer * 4) 0px;
  margin-top: $spacer * 5;

  background-color: $gray-200;
}

.highlighter-rouge pre.highlight {
  background-color: $gray-200;
  border-radius: 0.75em;
  padding: 0.75em;
}

.footer-social {
  a {
    padding-right: 15px;
  }
}
