.site-main {
  min-height: 80vh;
}

.site-footer {
  padding: ($spacer * 4) 0px;
  margin-top: $spacer * 5;

  background-color: $gray-200;
}

.highlighter-rouge pre.highlight {
  background-color: $gray-200;
  border-radius: 0.75em;
  padding: 0.75em;
}

.footer-social {
  a {
    padding-right: 15px;
  }
}

.card .card-img-box {
  height: 150px;
  padding: 10px;
  text-align: center;

  img {
    max-height: 120px;
    max-width: 100%;
    width: auto;
  }
}

.commons-card {
  height: 100%;

  .flag {
    height: 50px;
  }

  .card-title {
    margin-bottom: 0px;
  }

  .subtitle {
    line-height: 1.2;
    color: $gray-600;
  }
}

img.partner {
  max-height: 80px;
  margin-right: 3em;
  margin-top: 3em;
}
