.site-main {
  min-height: 80vh;
}

.site-footer {
  padding: ($spacer * 4) 0px;
  margin-top: $spacer * 5;

  background-color: $gray-200;
}

.work-in-action-list {
  img {
    width: 100%;
  }
  img[alt='open-by-laws'] {
    width: 125px;
  }
  img[alt='ulii'] {
    width: 125px;
  }
  img[alt='lawlibrary'] {
    width: 115px;
  }
}

.highlighter-rouge pre.highlight {
  background-color: $gray-200;
  border-radius: 0.75em;
  padding: 0.75em;
}

.footer-social {
  a {
    padding-right: 15px;
  }
}

.lead strong {
  font-weight: bold;
}

.card .card-img-box {
  height: 150px;
  padding: 10px;
  text-align: center;

  img {
    max-height: 120px;
    max-width: 100%;
    width: auto;
  }
}

.commons-card {
  height: 100%;

  .flag {
    height: 50px;
  }

  .card-title {
    margin-bottom: 0px;
  }

  .subtitle {
    line-height: 1.2;
    color: $gray-600;
  }
}

img.partner {
  max-height: 80px;
  margin-right: 3em;
  margin-top: 3em;
}


.callout-box {
  background-color: $pale-red;
  border-radius: 1rem;
  padding: 1.5rem;

  q {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1;
  }

  q:before, q:after {
    color: $primary;
    font-weight: bold;
  }

  q:before {
    margin-right: 5px;
  }

  q:after {
    margin-left: 5px;
  }
}

.case-study-card {
  padding: 1.5rem;
}

.case-study-card__img {
  margin-bottom: 1.5rem;
  img {
    width: 150px;
    height: auto;
  }
}


.case-study-card__body {
  margin-bottom: 1rem;
}
.red-underline {
  height: 12px;
  background-color: $primary;
  max-width: 85px;
  width: 100%;
  border-radius: 5px;
}

.right-angle-triangle-right {
  width: 0;
  height: 0;
  border-bottom: 30px solid $pale-red;
  border-left: 30px solid transparent;
}

.triangles-header {
  position: relative;
}

.triangles-header__triangle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 100px solid $pale-red;
  border-right: 100px solid transparent;
}

.triangles-header__triangle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid $pale-red;
  border-left: 100px solid transparent;
}


//Styling for annual report

.annual-report-topic-list {
  padding: 0;
}

.annual-report-topic-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  a {
    margin-bottom: 0;
  }
}
.annual-report-topic-list__item__heading {
  @extend .h4;
  margin-bottom: 0;
}

.annual-report-topic-list__item__marker {
  height: 10px;
  width: 10px;
  background-color: $primary;
  margin-right: 10px;
}

.founder-details {
  display: flex;
  align-items: center;
}

.founder-details__img {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
}



