.sidebar {
  line-height: 1.2;

  li {
    margin-top: 0.5em;
  }

  &.sticky {
    position: sticky;
    top: 30px;
  }
}

.prose {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h1, h2, h3 {
    margin-top: 1.2em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.scroll-x {
  overflow-x: auto;
}

.highlighter-rouge > .highlight::before {
  position: absolute;
  right: 30px;
  background-color: #cdcdcd;
  width: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}
.language-bash    > .highlight::before { content: "shell"; }
.language-html    > .highlight::before { content: "html"; }
.language-js      > .highlight::before { content: "javascript"; }
.language-json    > .highlight::before { content: "json"; }
.language-python  > .highlight::before { content: "python"; }
