<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/logo-horizontal.png" alt="Laws.Africa logo" width="110px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item pe-3">
          <a class="nav-link {% if page.navbar_item == 'open-african-law' %}active{% endif %}" href="/open-african-law">Open African Law</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link {% if page.navbar_item == 'api' %}active{% endif %}" href="/platform">Legal Knowledge Platform</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link {% if page.navbar_item == 'resources' %}active{% endif %}" href="/resources">Resources</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link {% if page.navbar_item == 'about' %}active{% endif %}" href="/about">About Us</a>
        </li>
      </ul>

      {% if page.url == "/platform/" %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://platform.laws.africa/">Sign in</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
