{% set page = article if article is defined else page %}
{% extends "simple.html" %}
{% block content %}
<div>
  <header class="py-5 triangles-header">
    <div class="triangles-header__triangle-top-left"></div>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/resources#case-studies">Case studies</a></li>
        </ol>
      </nav>

      <img
        alt="{{ page.title }}"
        class="mb-3"
        style="max-width: 300px; width: 100%;"
        src="{{ page.image }}" />

      <h1>{{ page.title }}</h1>
      <div class="lead text-body-secondary mb-3">{{ page.date|strftime("%B %Y") }}</div>

      <div class="lead">
        {{ page.blurb|markdownify }}
      </div>
    </div>
    <div class="triangles-header__triangle-bottom-right"></div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <article class="prose">
          {{ page.content }}
        </article>
      </div>
    </div>
  </div>

</div>

{% endblock %}
