{% set page = article if article is defined else page %}
{% extends "slim.html" %}
{% block slim_content %}
<p>
  We welcome contributions of legislation to add to Laws.Africa. It is best to share legislation as it was originally
  published in the government gazette.
</p>

<p>
  <strong>Please note:</strong> We cannot accept legislation from other legal publishers. Copies of government gazettes
  are best.
</p>

<p>Please fill in the form below to tell us a bit more about the legislation you'd like to share with us.</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckDUFGcxLiznuDhMv2SawbIpz8SvHOj8P1HufGb_Vp-1ehJQ/viewform" width="100%" height="1800px" style="border: 0px"></iframe>

<p>Please email us at <a href="mailto:info@laws.africa">info@laws.africa</a> if you have any queries.</p>
{% endblock %}
