---
layout: slim
---

<div class="accordion" id="faq-accordian">
  {% for section in page.sections %}
    {% assign sect = forloop.index %}
    <section class="mt-4">
      <h3 class="mb-3">{{ section.title }}</h3>

      {% for faq in section.faqs %}
        <div class="mb-2 border-bottom">
          <h5 id="faq-q-{{ sect }}-{{ forloop.index }}">
            <button class="btn btn-link btn-block text-left px-0" type="button" data-toggle="collapse" data-target="#faq-a-{{ sect }}-{{ forloop.index }}" aria-expanded="false" aria-controls="faq-a-{{ sect }}-{{ forloop.index }}" style="white-space:normal !important; word-wrap: break-word">{{ faq.question }}<i class="float-right fas fa-chevron-circle-down"></i></button>
          </h5>
          <div class="collapse" id="faq-a-{{ sect }}-{{ forloop.index }}" aria-labelledby="faq-q-{{ sect }}-{{ forloop.index }}" data-parent="#faq-accordian">
            {{ faq.answer | markdownify }}
          </div>
        </div>
      {% endfor %}

    </section>
  {% endfor %}
</div>
