---
layout: simple
---

<div>

  <header class="py-5 {{ page.header_class }}">
    <div class="container">
      {% if page.masthead_image %}
      <div class="row mb-3">
        <div class="col-6 col-md-4">
          <img src="{{ page.masthead_image }}" class="img-fluid">
        </div>
      </div>
      {% endif %}

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/resources#publications">Publications</a></li>
        </ol>
      </nav>

      <h1 class="display-4">{{ page.title }}</h1>
      <div class="h5">{{ page.date|date:"%e %B %Y"}}</div>
      {% if page.lead %}
      <p class="lead mb-3">{{ page.lead }}</p>
      {% endif %}
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-sm-block sidebar-toc pt-5">
        <aside class="sidebar sticky">
          <la-table-of-contents-controller
            id="toc"
            collapse-all-btn-classes="btn btn-secondary btn-sm"
            expand-all-btn-classes="btn btn-secondary btn-sm"
            title-filter-clear-btn-classes="btn btn-secondary btn-sm"
            title-filter-input-classes="form-control"
          ></la-table-of-contents-controller>
        </aside>
      </div>

      <div class="col-sm-9 mb-5 pt-5" data-tocify="#toc">
        {% assign versions = site.publications | where: "key", page.key | sort: "date" | reverse %}
        {% if versions.size > 1 %}
          <ul class="list-inline">
            <li class="list-inline-item">Versions:</li>
            {% for ver in versions %}
              <li class="list-inline-item {% if ver.date == page.date %}font-weight-bold{% endif %}">
                {% if ver.date == page.date %}
                  {{ ver.date|date:"%e %b %Y" }}
                {% else %}
                  <a href="{{ ver.url }}">{{ ver.date|date:"%e %b %Y" }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}


        <article class="prose scroll-x publication-{{ page.key }}">
          {{ content }}
        </article>
      </div>
    </div>
  </div>

</div>
