.bg-lawsafrica-pale-red {
  background-color: $pale-red;
}

.platform-plan-card--sandbox {
  background-color: #e5ecf5;
}

.platform-plan-card--build {
  background-color: #fad7d5;
}

.platform-plan-card--scale {
  background-color: #f4f4f4;
}
