.bg-lawsafrica-pale-red {
  background-color: $pale-red;
}

.bg-plan--sandbox {
  background-color: #e5ecf5;
  --bs-table-bg: #e5ecf5;
}

.bg-plan--build {
  background-color: #fad7d5;
  --bs-table-bg: #fad7d5;
}

.bg-plan--scale {
  background-color: #f4f4f4;
  --bs-table-bg: #f4f4f4;
}
